body {
	max-width: 700px;
	margin: auto; /* center on page */
	padding: 4px; /* from edges on small screens */
}

.whoami {
	display: flex;
	justify-content: space-between;
	margin-bottom: 4px;
}
.name {
	font-size: 24px;
	font-weight: bold;
}

.section {
	margin-top: 16px;
}
.section-title {
	font-size: 20px;
	font-weight: bold;
	text-decoration: underline;
}
.section-entry {
	margin: 8px;
}
.entry-title {
	font-weight: bold;
}
.entry-details {
	margin: 4px 0px;
	padding-left: 16px;
	list-style-type: circle;
}

.contributions {
	display: flex;
	gap: 10px;
	justify-content: space-evenly;
}

.title-extra {
	font-weight: normal;
	float: right;
}
