body {
    max-width: 510pt; /* about the same as printed paper */
    margin: auto; /* center on page */
    font-size: .95em; /* just big enough to fit it all on one page */
}
#languages {
    text-align: center;
}
#languages li {
    display: inline-block;
    margin-left:16px;
    margin-right:16px;
    padding-left: 0px;
}
.section {
    text-decoration: underline;
    margin-bottom: 6px;
    margin-top: 6px;
}
.subsection {
    margin-left: 6px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.meat {
    margin-top: 2px;
    margin-bottom: 2px;
}
.meat li {
    margin-top: 4px;
    margin-bottom: 4px;
    list-style-type: circle;
}
p.meat {
    margin-left: 14px;
}
ul.meat {
    padding-left: 32px;
}
.date {
    float: right;
}
